/*碎言碎语*/

/*背景重置*/
body { background: url(../images/about/bg_about.jpg) repeat !important;  }

#life{width:918px;margin:5px auto;color: #000 }

/*位置*/
.nh1 {width:740px;line-height: 31px;height: 31px;font-size: 14px;color: #171717;  }
.nh1 span { float: right;  font-size: 12px;  color: #666;  font-weight: normal  }
.nh1 span a {  color: #666;  margin: 0 5px  }
.nh1 span a:hover {  color: #000  }

.life_box {background:#f8f8f8;box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(214, 214, 214, 0.7);width:740px; border-radius:5px;position:relative; padding: 20px 0;
    margin:10px 0;font-size:14px;font-family:"宋体"; }
.life_box p {line-height:24px;padding:0 20px 20px ;}
.life_box::before {content: "";width:0px;height:0px;border-style:solid;border-width:0px 0 20px 22px;border-color:transparent transparent transparent #fff;position:absolute;left:740px;top: 23px; }/* 三角形 */
.life_box::after {content: "";width: 10px;height: 10px;border-radius: 50%;position:absolute;left:763px;top:16px;background:#CCCCCE;border: 2px solid #fff;transition:all 0.5s; }/* 圆形 */
.life_box:hover::before {border-color:transparent transparent transparent #CECCCD }/* 三角形 */
.life_box:hover::after {border:#fff 2px solid;background:#999; }/* 圆形 */
.life_box:hover {background: #f4f2f2;color:#333; text-shadow: #f7f7f7 1px 1px 1px }
.date_view {position:absolute;left:785px;top:15px;width:125px;line-height:35px;background:#5EA51B;border-radius:0 30px;text-align:center;
    color:#fff;font-weight:bold;font-size:14px; }